@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

/* GLOBAL STYLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --brand: #bf7631;
  --gray: #707070;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 62.8%;
  letter-spacing: 50;
}

hr {
  border: none;
  height: 4px;
  background: black;
  margin-bottom: 2rem;
}
h2 {
  font-weight: 500;
  font-size: 2.5rem;
}
img {
  width: 100%;
  height: auto;
}

.section-hr {
  width: 70%;
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--brand);
  border: var(--brand);
}

/* NAV STYLES */

nav {
  display: flex;
  justify-content: space-between;
}

#navigation {
  margin: 1rem 3rem 2rem;
}

#navigation hr {
  margin-top: 0.5rem;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  list-style: none;
  gap: 1.25rem;
  margin-left: 2rem;
}

nav ul > li:hover {
  text-decoration: underline var(--brand) 4px;
  cursor: pointer;
}

.branding {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  justify-content: flex-start;
  letter-spacing: 0.25rem;
}

.branding img {
  width: 15%;
}

.search-bar {
  width: 10%;
  margin-top: 0.75rem;
  margin-left: 5rem;
  position: relative;
}

.search-bar img {
  position: absolute;
  right: -30px;
  top: 2px;
  width: 15%;
}

nav a {
  padding-top: 1rem;
  font-size: 1.25rem;
}

/* HERO STYLES */

#hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 5rem;
}

#hero-left {
  position: absolute;
  top: 30%;
  left: 5%;
}

#hero-right {
  position: absolute;
  top: 80%;
  right: 5%;
}

/* ABOUT STYLES */

#about {
  margin: 1rem 3rem 3rem 5rem;
  font-size: 1.75rem;
}

#about img {
  width: 100%;
  height: auto;
}

.about-grid {
  display: grid;
  grid-template-areas: "textOne textOne aside" "img textTwo aside" "img textThree aside";
  gap: 3rem;
}

#about-text-one {
  grid-area: textOne;
}

.about-grid img {
  grid-area: img;
}

.about-grid aside {
  grid-area: aside;
}

/* PRODUCT STYLES */
.product-gallery {
  margin: 8rem 2rem 5rem 5rem;
  font-size: 1.75rem;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
  margin-top: 5rem;
}
.product {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 6rem;
}

.product hr {
  margin-bottom: 2rem;
}

.product-anchor {
  text-decoration: none;
  color: black;
}

.product img {
  max-width: 100%;
  height: 24vw;
  object-fit: cover;
  margin-bottom: 2rem;
}

.product-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 2rem;
}

.product-content p {
  padding-bottom: 3rem;
  font-weight: 100;
}

.product-cta {
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
}

.product-cta a {
  color: var(--brand);
  text-underline-offset: 0.75rem;
}

/* CONTACT US STYLES */
.contact-us {
  margin: 4rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 3rem;
  margin-left: 15rem;
}

.contact-form input[type="email"] {
  height: 3vh;
  margin-bottom: 2rem;
}

.contact-form textarea {
  height: 10vh;
  margin-bottom: 2rem;
}

.contact-form button {
  margin-top: 1rem;
  width: 10%;
  align-self: flex-end;
}

/* FOOTER STYLES */

footer {
  background-color: var(--brand);
  font-size: large;
  margin-top: 5rem;
}

footer img {
  width: 5rem;
  height: auto;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 1rem;
}

.footer-text {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

/* MOBILE LAYOUTS */
/* TODO: Write mobile navbar with hamburger dropdown */
@media screen and (max-width: 900px) {
  .about-grid {
    display: flex;
    flex-direction: column;
  }

  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .products {
    grid-template-columns: 1fr;
  }

  .product {
    margin-bottom: 3rem;
    width: 60%;
    align-self: center;
  }

  .footer-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
